<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>Dynamic Forms</title>
{% load staticfiles %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js">
</script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</head>
<body>
<h1>Let's create your form</h1>
<form method="post">
{% csrf_token %}
<p>{{ single_choice_formset.management_form }}
{% for form in single_choice_formset.forms %}
    <div class='table_a'>
    <table class='no_error'>
        {{ form.as_table }}
    </table>
    </div>    
{% endfor %}
</p>
<p>{{ multiple_choice_formset.management_form }}
{% for form in multiple_choice_formset.forms %}
    <div class='table_b'>
    <table class='no_error'>
        {{ form.as_table }}
    </table>
    </div>
{% endfor %}
</p>
<p>{{ bool_choice_formset.management_form }}
{% for form in bool_choice_formset.forms %}
    <div class='table_c'>
    <table class='no_error'>
        {{ form.as_table }}
    </table>
    </div>
{% endfor %}
</p>
<p>{{ text_choice_formset.management_form }}
{% for form in text_choice_formset.forms %}
    <div class='table_d'>
    <table class='no_error'>
        {{ form.as_table }}
    </table>
    </div>
{% endfor %}
</p>
<input type="button" value="Add Single-Choice" id="add_more_s">
<input type="button" value="Add Multiple-Choice" id="add_more_m">
<input type="button" value="Add Boolean-based" id="add_more_b">
<input type="button" value="Add Text-based" id="add_more_t">
<input type="submit" value="Submit">
</form>
<script>
    $('#add_more_s').click(function() {
        cloneMore('div.table_a:last', 'single');
    });
    $('#add_more_m').click(function() {
        cloneMore('div.table_b:last', 'multiple');
    });
    $('#add_more_b').click(function() {
        cloneMore('div.table_c:last', 'bool');
    });
    $('#add_more_t').click(function() {
        cloneMore('div.table_d:last', 'texty');
    });
</script>
</body>
</html>