<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
</head>
<body>
<h2>Sign up</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Sign up</button>
</form>
</body>
</html>