<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>Dynamic Forms in Django Example</title>
{% load staticfiles %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js">
</script>
<script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</head>

<body>
<h1>Welcome! Let's view your form!</h1>
<form method="post" action="">
{% csrf_token %}

<h3>Single Choices</h3>
{% for obj in single %}
{{ obj.question }}<br><br>
<input type="radio" name="poss">{{ obj.option_a }}<br>
<input type="radio" name="poss">{{ obj.option_b }}<br>
<input type="radio" name="poss">{{ obj.option_c }}<br>
<input type="radio" name="poss">{{ obj.option_d }}<br><br>
{% endfor %}

<h3>Multiple Choices</h3>
{% for obj in multiple %}
{{ obj.question }}<br><br>
<input type="checkbox">{{ obj.option_a }}<br>
<input type="checkbox">{{ obj.option_b }}<br>
<input type="checkbox">{{ obj.option_c }}<br>
<input type="checkbox">{{ obj.option_d }}<br><br>
{% endfor %}

<h3>Bool Choices</h3>
{% for obj in boolean %}
{{ obj.question }}<br><br>
<input type="radio" name="other">True<br>
<input type="radio" name="other">False<br><br>
{% endfor %}

<h3>Text-Based Choices</h3>
{% for obj in text %}
{{ obj.question }}<br><br>
<input type="textarea" placeholder="Enter your answer here."><br><br>
{% endfor %}

<input type="submit" value="Submit">
</form>
</body>
</html>